body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 24px !important;
  font-weight: 800 !important;
  line-height: 1.25em !important;
  color: rgb(72, 72, 72) !important;
  margin: 2px 6px 2px 6px;
  padding-bottom: 20px;
}

span .image {
  display: inline-block;
  margin: 2px 6px 30px 6px;
  width: 300px;
  border: 30px;
  position: relative !important;
}

span .item {
  display: inline-block;
  margin: 220px 6px 2px 6px;
  width: 300px;
  border: 30px;
  position: relative !important;
  overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  text-overflow: ellipsis;
}

.images {
  position: absolute !important;
  width: 1000px !important;
  height: 200px !important;
}

.items {
  position: absolute !important;
  width: 1000px !important;
  height: 200px !important;
}

.review {
  float: right
}

.icon {
  display: inline-block;
  width: 12px !important;
  height: 12px !important;
  fill: #FF385C !important;
}

.rating {
  padding-left: 2px !important;
}

.line2.regularFont {
  white-space: nowrap;
}
.regularFont {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  color: rgb(34, 34, 34) !important;
  font-size: 16px !important;
  line-height: 20px !important;
}
.price {
  font-weight: 800 !important;
}

.greyFont {
  color: rgb(113, 113, 113) !important;
}

#reviews {
  display: inline-block;
  margin: 2px 6px 2px 6px;
  width: 1000px;
  border: 30px;
  position: relative !important;
  overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  text-overflow: ellipsis;
}

#reservation {
  display: inline-block;
  margin: 2px 6px 2px 6px;
  width: 300px;
  border: 5px;
  position: relative !important;
  overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  text-overflow: ellipsis;
}
